*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

section{
    display: flex;
    justify-content: center;
    background-image: url(openaigalery.webp);
    background-size: cover;

}

.sumber-background{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.container{
    width: 700px;
    background-color: rgb(41, 4, 76);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    border-right: 4px solid rgb(41, 4, 76);
    border-left: 4px solid rgb(124, 241, 120)
}

.content{
    padding: 10px;
    color: rgb(124, 241, 120)
}
.content2{
    width: 450px;
    background-color: rgb(124, 241, 120);
}

.photo-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;

    
    overflow: hidden;
    gap: 10px;
    border-bottom: 1px solid rgb(124, 241, 120);
    border-right: 4px solid rgb(124, 241, 120);
    
}

.photo-box-text{
    border-left: 2px solid;
    padding-right: 20px;
}

.photo-box-text h1{
    padding-left: 10px;
}

.photo-box-text span{
    padding-left: 10px;
}

.photo-box img{
    
    width: 150px;
    height: 150px;
     object-fit: cover; 
     object-position: center;
    border-radius: 100%;
    border: 5px solid;
}

.photo-box h1{
    font-weight: bold;
    font-family:  Arial, sans-serif;
    color: rgb(124, 241, 120);
    font-size: 2em;
    padding-bottom: 2px;
    text-shadow: -2px 1px 0px #9a007b;
    
}

.photo-box span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(124, 241, 120);
    font-weight: lighter;
    font-size:medium;
    text-shadow: -2px 1px 0px #9a007b;
}

.text-info-box{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
    
}

.telefon-box{
    padding-left: 10px;
    font-size: large;
    border-right: 4px solid;
    
}

.telefon-box ul{
    font-size: 15px;
    padding-top: 8px;
    padding-left: 15px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.keahlian-box{
    padding-left: 10px;
    font-size: large;
    border-right: 4px solid;
}

.keahlian-box ul{
    font-size: 15px;
    padding-top: 8px;
    padding-left: 15px;
    border-bottom: 1px solid;
    padding-bottom: 10px;

}

.bahasa-box{
    padding-left: 10px;
    font-size: large;
    border-right: 4px solid;
}

.bahasa-box ul{
    font-size: 15px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    
}

.surel-box{
    padding-left: 10px;
    font-size: large;
    border-right: 4px solid;
}

.surel-box ul{
    font-size: 15px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid;   
}

.content2{
    display: flex;
    flex-direction: column;
    color: rgb(41, 4, 76);
    gap: 20px;
    
}

.tentangsaya-box{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.tentangsaya-box h1{
    font-size: 3em;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(41, 4, 76);
    color: rgb(124, 241, 120);
    height: 80px;
    border-bottom-right-radius: 5px;
    width: 300px
}

.tentangsaya-text-box{
    margin-left: 10px;
    text-align: justify;
    margin-right: 15px;
    background-color: rgb(41, 4, 76);
    color: rgb(124, 241, 120);
    padding: 10px;
    border-radius: 5px;
}

.riwayatpendidikan-box{
    padding-left: 10px;
    font-size: large;
    border-right: 4px solid;
    margin-right: 10px;
}

.riwayatpendidikan-box ul{
    font-size: 15px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

.pengalaman-box{
    padding-left: 10px;
    font-size: large;
    border-right: 4px solid;
    margin-right: 10px;
}

.pengalaman-box ul{
    font-size: 15px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

.hobi-box{
    padding-left: 10px;
    font-size: large;
    border-right: 4px solid;
    margin-right: 10px;
}

.hobi-box ul{
    font-size: 15px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}




